[Desktop Entry]
Type=Application
Name=dmm-tools
Comment=Real-time display and plotting for UNI-T multimeters
Exec=dmm-tools-gui
Icon=dmm-tools
Categories=Utility;Electronics;
StartupWMClass=dmm-tools
